@import "../../../styles.scss";

.procedure {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: flex-start;
  align-items: start;
  padding: 0 2rem;
}

.procedure-description {
  span {
    color: #000;
    font-size: 1.35rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  .procedure {
    padding: 0 1rem;
  }
}
