<div class="headliner">
  <div class="headliner-content">
    <div class="mobile-logo-container">
      <img src="logo-white.png" alt="Activ Kinetic" class="mobile-logo" />
    </div>
    <div class="mobile-safe-content">
      <h1 class="headliner-title">Activ Kinetic</h1>
      <div class="headliner-content-details">
        <h1>Kinetoterapie la domiciliu:</h1>
        <h3>Redescoperă bucuria mișcării, de acasă.</h3>
      </div>
      <div class="action-buttons">
        <a href="#tratamente" class="btn-anchor">
          <app-k-button label="Tratamente" icon="asterisk"></app-k-button>
        </a>
        <a href="#evaluare" class="btn-anchor">
          <app-k-button
            variant="outlined"
            icon="file-edit"
            label="Evaluare"
          ></app-k-button>
        </a>
      </div>
      <div class="hero-scroll-icon-container">
        <div class="hero-scroll-icon">
          <ng-lottie [options]="lottieOptions"></ng-lottie>
        </div>
      </div>
    </div>
  </div>
</div>
