<div class="headliner">
  <div class="headliner-content">
    <img src="logo.png" alt="Activ Kinetic" class="mobile-logo" />
    <img src="doctor_umar.jpg" alt="Headliner" class="mobile-headliner-img" />
    <div class="mobile-safe-content">
      <h1 class="headliner-title">Activ Kinetic</h1>
      <div class="headliner-content-details">
        <h1>Kinetoterapie la domiciliu:</h1>
        <h3>Redescoperă bucuria mișcării, de acasă.</h3>
      </div>
      <div class="action-buttons">
        <a href="#tratamente" class="btn-anchor">
          <app-k-button label="Tratamente"></app-k-button>
        </a>
        <a href="#evaluare" class="btn-anchor">
          <app-k-button label="Evaluare"></app-k-button>
        </a>
      </div>
    </div>
  </div>
</div>
