.headliner {
  background-image: url("/doctor_umar.jpg");
  display: flex;
  height: 650px;
  width: 100%;
  background-size: cover;
  position: relative;
}

.headliner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Adjust the last value to change the darkness */
}

.headliner-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
  z-index: 1;
  gap: 3rem;

  @media screen and (max-width: 768px) {
    justify-content: space-between;
    padding-bottom: 1rem !important;
  }

  h1 {
    font-size: 2.6rem;
    color: #fff;
  }
}

.headliner-content-details {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 2.8rem;
    color: #efefef;
    font-weight: 600;

    @media screen and (max-width: 768px) {
      font-size: 28px;
    }

    @media screen and (max-width: 400px) {
      font-size: 24px;
    }
  }

  h3 {
    margin-top: -0.6rem;
    font-size: 1.8rem;
    color: #efefef;
    font-weight: 400;

    @media screen and (max-width: 768px) {
      font-size: 18px;
    }

    @media screen and (max-width: 400px) {
      font-size: 16px;
    }
  }
}

.action-buttons {
  bottom: 2rem;
  display: flex;
  gap: 1rem;
}

.mobile-logo,
.mobile-headliner-img,
.mobile-logo-container,
.hero-scroll-icon-container {
  display: none;
}

.mobile-safe-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;
}

@media screen and (max-width: 768px) {
  .headliner {
    width: 100%;
    height: calc(100svh - var(--navbar-computed-height) + 50px);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    // &::before {
    //   background: linear-gradient(
    //     180deg,
    //     rgba(0, 0, 0, 0.05) 0%,
    //     rgba(0, 0, 0, 0.4) 50%,
    //     rgba(255, 255, 255, 0.3) 80%,
    //     rgba(255, 255, 255, 0.95) 100%
    //   );
    //
    //   backdrop-filter: brightness(0.7) blur(10px);
    //   // darken the image
    // }
  }

  .headliner-title {
    display: none;
  }

  .mobile-logo {
    width: 160px;
    display: flex;
  }

  .mobile-headliner-img {
    display: block;
    width: 100%;
  }

  .mobile-logo-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .headliner-content {
    gap: 1rem;
    width: 100%;
    padding: 0;
  }

  .mobile-safe-content {
    padding: 2rem;
    text-align: center;
  }

  .action-buttons {
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;

    .btn-anchor {
      width: 100%;
    }
  }

  .hero-scroll-icon-container {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .hero-scroll-icon {
    display: flex;
    width: 56px;
    justify-content: center;
  }
}

@media screen and (max-height: 780px) {
  // smaller gaps
  .headliner-content {
    gap: 1rem;
  }

  .mobile-safe-content {
    gap: 2rem;
    padding-top: 0;
    padding-bottom: 50px;
  }
}
