.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: var(--navbar-padding);
  height: var(--navbar-computed-height);
  padding-inline: 10rem;
  transition: all 0.3s;
}

.navbar-logo {
  width: 183px;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

// @media screen and (min-width: 1028px) {
//   .navbar.scrolled {
//     transition: all 0.3s;
//     transform: translateY(-100%);
//   }
// }

@media screen and (max-width: 1028px) {
  .navbar {
    height: var(--navbar-height-small);
    bottom: 0;
    top: unset;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-logo {
    display: none;
  }

  .navbar-links {
    justify-content: center;
    width: 100%;
  }
}

