@import "./colors.scss";

.k-button {
  color: #fff;
  padding: 0.5rem 0.7rem;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(242, 153, 74, 0.25);
  }

  span {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  .k-button {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
