@use "./colors";

.k-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: map-get(colors.$colors, primary);
  border: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 10px 24px;
  cursor: pointer;
  // transition for background-color
  transition: background-color 0.2s;

  width: 180px;

  border: 2px solid map-get(colors.$colors, primary);

  &.outlined {
    background-color: transparent !important;
    color: white;
    border-color: white !important;
  }
}

@media screen and (max-width: 768px) {
  .k-button {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
