.separator-title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  overflow: hidden;
  z-index: 2;

  span {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 600;
    padding: 0.5rem 1rem;
    background-color: map-get($colors, secondary);
  }
}

@media screen and (max-width: 768px) {
  .separator-title {
    span {
      font-size: 1.2rem;
    }
  }
}

.btn-anchor {
  text-decoration: none;
}
