$colors: (
  primary: #f2994a,
  secondary: #db6e24,
  accentBackground: #f5f5f5,
);

@each $color-name, $color-value in $colors {
  .bg-#{$color-name} {
    background-color: $color-value !important;
    border-color: $color-value !important;
  }
  .text-#{$color-name} {
    color: $color-value !important;
  }
}
