@use "./dimens";
@import url("https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Niramit", sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: normal;

  @media (max-width: map-get(dimens.$breakpoints, sm)) {
    font-size: 43px;
  }
}

h2 {
  font-size: 40px;
  font-weight: normal;

  @media (max-width: map-get(dimens.$breakpoints, sm)) {
    font-size: 36px;
  }
}

h3 {
  font-size: 30px;
  font-weight: normal;

  @media (max-width: map-get(dimens.$breakpoints, sm)) {
    font-size: 26px;
  }
}

h4 {
  font-size: 20px;
  font-weight: normal;

  @media (max-width: map-get(dimens.$breakpoints, sm)) {
    font-size: 18px;
  }
}

p,
span {
  font-size: 18px;
  font-weight: 400;

  @media (max-width: map-get(dimens.$breakpoints, sm)) {
    font-size: 16px;
  }
}
