<button
  [type]="type"
  pButton
  pRipple
  (click)="onClick()"
  [disabled]="disabled"
  [class]="'k-button bg-primary ' + variant"
>
  <div class="button-and-spinner" [ngClass]="{ 'is-not-loading': !loading }">
    <span [ngClass]="{ 'is-not-loading': !loading }">
      {{ label }}
    </span>
    @if (loading) {
      <p-progressSpinner
        [style]="{ width: '25px', height: '25px' }"
        strokeWidth="2"
        animationDuration=".5s"
      />
    }
    @if (icon) {
      <i class="pi pi-{{ icon }}"></i>
    }
  </div>
</button>
